#picnav{
    height: 50px;
}
#pics{
    height: 50vh;
    border: 5px solid #8C9C7C;    

}
body{
    background-color: #E8EACC ;
}
#compétences{
    background-color:#8C9C7C ;
}
.card-body{
    height: 50vh;
    border: 5px solid #8C9C7C;
    background-color: #E8EACC;
}
.btn{
    background-color: #8C9C7C;
}
#diplomes{
    background-color: #8C9C7C;
}
#portfolio{
    background-color: #8C9C7C;
    height: 200px;
}
#experiences{
    background-color: #8C9C7C;
}
p{
    color: #E8EACC;
}
.card-text{
    color: black;
}
#form{
    background-color: #8C9C7C;
}
.form-control{
    background-color: #E8EACC;
}
.btn2{
    background-color: #232826;
    color: #E8EACC;
}
#navcolor{
    color: #E8EACC;
}
#tag{
    color: #232826;
}
#button2{
    background-color: #232826;
    border: 0px;
}
#txtgras{
    font-weight: bold;
    text-decoration: underline;
}
#txtitalic{
    font-style: italic;
}